@import url(./global.css);

.busqueda {
  padding-right: 30px;
  display: inline;
  position: relative;
  box-sizing: border-box;
}

.search {
  background-color: var(--t-color);
  border: none;
  border-radius: 10px;
  padding: 5px 0;
  padding-left: 10px;
}

.icon-buscar {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 280px;
  height: 450px;
  background-color: var(--t-color);
  padding: 25px 10px;
  border-radius: 5%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3 linear;
  text-align: center;
}

article:hover {
  transform: translate(-4px, -7px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.45);
}

article p {
  text-align: center;
  font-size: small;
  padding: 0 10px;
}

article b {
  padding-bottom: 5px;
}

article img {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/*--------------------------media queries--------------------------*/

@media (min-width: 300px) and (max-width: 767px) {
  .cards {
    display: grid;
    grid-template-columns: auto;
  }

  article {
    width: 220px;
    height: 450px;
  }

  article img {
    width: 180px;
  }

  .busqueda {
    padding-left: 30px;
  }
}
